Importamos las librerías

In [ ]:
from google.colab import drive # For linking colab to Google Drive
import pandas as pd # For dataframe handling
import numpy as np # For matrix and list computations
import matplotlib.pyplot as plt # For advanced graphs

Vamos a usar Google Drive para cargar y guardar archivos.

In [ ]:
drive.mount('mydrive') #Bridge to Google Drive

Mounted at mydrive

Al ejecutar lo de arriba nos pide un código de autorización. Hacemos click en el link y nos lleva a un login con la cuenta de google. Al registarse nos da el código que tenemos que usar.

Ahora se ha creado una unidad con los datos de nuestro Google Drive.

Subimos a nuestro Google Drive un archivo para usarlo.

Leemos el archivo especificando el path en nuestro Google Drive. En el icono de la izquierda le damos al símbolo de carpeta, le damos a mydrive y buscamos el archivo. Botón derecho y guardar ruta, que usamos para leer el csv.

In [ ]:
path = r'/content/mydrive/Othercomputers/portatil/Master/AnalisisDatos/Ejercicio_12nov_2/WBR_11_12_denormalized_temp.csv'
wbr= pd.read_csv(path, sep = ';', decimal = ',') #Load data
wbr #Visualise dataframe

     instant      dteday  season  yr  ...      hum  casual  registered   cnt
0          1  01/01/2011       1   0  ...  80.5833     331         654   985
1          2  02/01/2011       1   0  ...  69.6087     131         670   801
2          3  03/01/2011       1   0  ...  43.7273     120        1229  1349
3          4  04/01/2011       1   0  ...  59.0435     108        1454  1562
4          5  05/01/2011       1   0  ...  43.6957      82        1518  1600
..       ...         ...     ...  ..  ...      ...     ...         ...   ...
726      727  27/12/2012       1   1  ...  65.2917     247        1867  2114
727      728  28/12/2012       1   1  ...  59.0000     644        2451  3095
728      729  29/12/2012       1   1  ...  75.2917     159        1182  1341
729      730  30/12/2012       1   1  ...  48.3333     364        1432  1796
730      731  31/12/2012       1   1  ...  57.7500     439        2290  2729

[731 rows x 16 columns]